/* Seite auf volle Höhe setzen */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: background-color 1s ease, color 1s ease;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* Text Styling */

.center-text {
    font-size: 6rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 1s ease;
    user-select: none;
}


/* Invertiert Zustand */

body.inverted {
    background-color: white;
    color: black;
}